<div>
  <h1 class="heading">Editing Book</h1>
</div>

<%= form_with model: @edit_book do |f| %>

  <div class="field">
    <h4 class="field-name">Title</h4>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <h4 class="field-name">Body</h4>
    <%= f.text_area :body %>
  </div>
  
  <div class="field-button">
    <%= f.submit "Update Book" %>
  </div>
  
<% end %>
<%= link_to "Show", book_path(@edit_book.id) %>|<%= link_to "Back", "/books" %>